:root{    
	--body-color: #151515;
}


.body-container{
	position: absolute;
    width: 100%;
    height: 100%;
}


.body{
	position: absolute;
    z-index: 1;
    top: 10%;
    width: 80%;
    height: 90%;
    padding-left: 10%;
    padding-right: 10%;
}



.content-container{
	background-color: var(--body-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 97.4%;
}


.content{
	position: relative;
    height: 100%;
    overflow-y: overlay;
}


.footer{
	position: relative;
    bottom: -20px;
    width: 102.5%;
    left: -18px;
}



#horloge{
	position: absolute;
    top: 0;
    right: 0;
    /* color: darkgreen; */
    z-index: 1000;
    font-size: xx-large;
    margin-top: 1.5%;
    margin-right: 1%;
}

#version{
    width: fit-content;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 30px;
}