:root{
    /* color */
    --body-bg-color: #1b1b1b;

    --main-txt-color: #029692;
    --second-txt-color: beige;
  
    --main-hover-color: #36d2f51a;

    --scrollbar-color: #003d3c;
    --scrollbar-color-hover: #36d2f514;
}



/* **** BODY **** */
body{
    background-color: var(--body-bg-color);
    color: var(--main-txt-color);
    font: 1.2em "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;

    overflow: hidden;
  
    /*unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





/* **** SEPARATOR **** */
.separator{
    border-color: var(--main-hover-color);
    margin-left: 10px;
}




/* **** SCROLLBAR **** */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(---scrollbar-color);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}

